{% extends 'base.html' %}

{% block title %}
    Rate list 
{% endblock title %}

{% block content %}
    {% for rate in rates %}
    <table border="1" cellpadding="5">
        <tr>
            <td>Id: {{ rate.id }}</td>
            <td>Sell: {{ rate.sell }}</td>
            <td>Buy: {{ rate.buy }}</td>
            <td>Created: {{ rate.created }}</td>
            <td>Currency: {{ rate.currency }}</td>
            <td>Source: {{ rate.source}}</td>
        </tr>
    </table>
    {% endfor %}
{% endblock content %}