{% extends 'base.html' %}

{% block title %}
    Rate list 
{% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
   <a href="{% url 'currency:rate-create' %}">Create</a></br>
{% endif %}

   
    <table>
        {% for rate in rate_list %}
            <tr>
                <td>Id: {{ rate.id }}</td>
                <td>Sell: {{ rate.sell }}</td>
                <td>Buy: {{ rate.buy }}</td>
                <td>Created: {{ rate.created }}</td>
                <td>Currency: {{ rate.get_currency_display }}</td>
                <td>Source: {{ rate.source}}</td>
                {% if request.user.is_authenticated %}
                    <td><a href="{% url 'currency:rate-details' rate.id %}">Details</a></td>
                    <td><a href="{% url 'currency:rate-update' rate.id %}">Edit</a></td> 
                    <td><a href="{% url 'currency:rate-delete' rate.id %}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}  
    </table>  
{% endblock content %}