{% extends 'base.html' %}

{% block title %}
    Rate list 
{% endblock title %}

{% block content %}

   <a href="/rate/create">Create</a></br>

    {% for rate in rates %}
    <table>
        <tr>
            <td>Id: {{ rate.id }}</td>
            <td>Sell: {{ rate.sell }}</td>
            <td>Buy: {{ rate.buy }}</td>
            <td>Created: {{ rate.created }}</td>
            <td>Currency: {{ rate.currency }}</td>
            <td>Source: {{ rate.source}}</td>
            <td><a href="/rate/details/{{ rate.id }}">Details</a></td>
            <td><a href="/rate/update/{{ rate.id }}">Edit</a></td> 
            <td><a href="/rate/delete/{{ rate.id }}">Delete</a></td>
        </tr>
    </table>
    {% endfor %}
{% endblock content %}