{% extends 'base.html' %}

{% block title %}
  Source list
{% endblock title %}


{% block content %}
<a href="{% url 'currency:source-create' %}">Create</a><br>
    <table>
      {% for src in source_list %}
        <tr>
          <td>Id: {{ src.id }}</td>
          <td> Source url: {{ src.source_url }}</td>
          <td>Name: {{ src.name }}</td>
          <td><a href="{% url 'currency:source-update' src.id %}">Edit</a></td>
          <td><a href="{% url 'currency:source-delete' src.id %}">Delete</a></td>
          <td><a href="{% url 'currency:source-detail' src.id %}">Details</a></td>
        </tr>
      {% endfor %}
    </table>
{% endblock content %}